{% load static %}

<nav class="navbar navbar-expand-lg justify-content-between sticky-top p-0 m-0">
    <a class="navbar-brand ms-0 me-3" href="">
        <div class="tup-icon-wrapper">
            <img class="tup-icon" src="{% static 'res/tup_logo.png' %}" alt="TOOL KEEPER TUP-C">
        </div>
        <div class="tupc-label-wrapper">
            <h6>TOOL KEEPER</label>
            <h6>TUP-C</h6>
        </div>
    </a>
    <div class="p-0 me-5">
        <ul class="nav align-items-center">
            <li class="nav-item dropdown rounded-circle ms-5 me-2">
                <a id="user" class="nav-link dropdown p-0" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                    <img id="avatar" class="rounded-circle" src="{% static 'res/test.png' %}" alt="">
                </a>
                <ul id="user" class="dropdown-menu">         
                    <li id="name" class="px-3 py-2">Harry Roque</li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-journal-text"></i><span> Transactions</span> 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">
                            <i class="bi bi-person-fill"></i><span> Profile</span> 
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            <i class="bi bi-box-arrow-right"></i><span> Logout</span> 
                        </a>
                    </li>
                </ul>
            </li>
        </ul> 
    </div>   
</nav>