{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  TKS | Home
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/sf/profile_sf.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sf/navbar_sf.css' %}" />  
{% endblock %}

{% block main_content %}
    {% include 'sf/navbar_sf.html' %}

    <main>
        <form method="POST" action="{% url 'profile_sf' %}" id="profile-form">
            {% csrf_token %}
            <div class="wrapper">
                <div class="card align-items-center">
                    <div class="user_edit row">
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="user_avatar">
                                <div class="container">
                                    <img id="avatar" class="rounded-circle" src="{% static 'res/test.png' %}" alt="">   
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-block save-button" type="submit">Change Avatar</button>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-block save-button" type="submit">Change Password</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 user_info">
                            <div class="user_info">
                                <div>                  
                            
                                    {{ form.first_name|as_crispy_field }}
                            
                                    {{ form.last_name|as_crispy_field }}
                                
                                    {{ form.role|as_crispy_field }}
            
                                    {{ form.tupc_id|as_crispy_field }}
            
                                    {{ form.email|as_crispy_field }}
            
                                    {{ form.username|as_crispy_field }}   
                                </div>
                                <div class="edit_save d-flex">
                                    <div class="text-center">
                                        <button class="btn btn-primary edit-button" type="button" onclick="getid()">Edit Profile</button>
                                    </div>
                                    <div class="text-center">
                                        <button class="btn btn-success save-button" type="submit">Save Profile</button>
                                    </div>
                                </div>
    
    
                            </div>

                        </div>
                        
                    </div>

                    
                       
                    

                </div>
            </div>
        </form>
    </main>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/sf/profile_sf.js' %}"></script>
{% endblock %} 