{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  TKS | Home
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/sf/profile_sf.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sf/navbar_sf.css' %}" />  
{% endblock %}

{% block main_content %}
    {% include 'sf/navbar_sf.html' %}

    <main>
        <form method="POST" action="{% url 'profile_sf' %}" id="profile-form">
            {% csrf_token %}
            <div class="wrapper">
                <div class="card align-items-center">
                    <div class="user_avatar">
                        <img id="avatar" class="rounded-circle" src="{% static 'res/test.png' %}" alt="">   
                    </div>
                    <div class="form-group row mt-2">                  
                        <div class="col-6">
                            <label class="labels">Firstname</label>
                            <input type="text" id="firstname" class="form-control" value="{{ request.user.first_name }}" readonly required>
                        </div>
                        <div class="col-6">
                            <label class="labels">Lastname</label>
                            <input type="text" id="lastname" class="form-control" value="{{ request.user.last_name }}" readonly required>
                        </div>
                    </div>
                    <div class="other-info">
                        <div class="col-md-12">
                            <label class="labels">Registered as</label>
                            <input type="text" id="role" class="form-control" value="{{ request.user.role }}" readonly required>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">ID Number</label>
                            <input type="text" id="tupc_id" class="form-control" value="{{ request.user.tupc_id }}" readonly required>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Email Address</label>
                            <input type="text" id="email" class="form-control" value="{{ request.user.email }}" readonly required>
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Username</label>
                            <input type="text" id="username" class="form-control" value="{{ request.user.username }}" readonly required>
                        </div>
                    </div>
                    <div class="edit_save d-flex">
                        <div class="text-center">
                            <button class="btn btn-primary edit-button" type="button" onclick="getid()">Edit Profile</button>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success save-button" type="button">Save Profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{% static 'js/sf/profile_sf.js' %}"></script>
{% endblock %} 