{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  TKS | Home
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/sf/reservation.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sf/navbar_sf.css' %}" />  
{% endblock %}

{% block main_content %}
    {% include 'sf/navbar_sf.html' %}

    <main>
        <div class="cards form-group justify-content-center mx-5 mt-3 p-0">
                <div class="card align-items-center">
                    <h3>RESERVATION FORM</h3>
                    <hr>
                    
                        <input type="text" class="form-control" placeholder="User User">
                        <input type="text" class="form-control" placeholder="BET-COET-NS-4B">
                        <input type="text" class="form-control" placeholder="TUPC-XX-XXXX">
                        <h6> Date and Time of Borrow</h6>
                        <div class="date_time">                     
                            <input type="text" id="date" class="form-control"  placeholder="Date">
                            <input type="text" id="time" class="form-control"  placeholder="Time">
                        </div>
                        <h6> Date and Time of Return</h6>
                        <div class="date_time">                        
                            <input type="text" id="date" class="form-control" placeholder="Date">
                            <input type="text" id="time" class="form-control"  placeholder="Time">
                        </div>
                </div>
                <div class="container-fluid">
                    <button class="btn btn-danger p-2"> Cancel Reservation </button>
                </div>
        </div>
        <div class="card2 justify-content-center mx-5 mt-4 p-0">
            <h6> If tools borrowd were damage, broken, or missing, 
                the borrower shall be responsible and must report to the tool keeper immediately. </h6>
            <p><input type="checkbox" id="terms"> I understand </p>
           
            <button class="btn btn-success p-2"> SUBMIT </button>
        </div>

        <div class="card3 justify-content-center mx-5 mt-4">
            <h6> Long Nose Pliers </h6>
        </div>
        <div class="overlay"></div>
        <div class="modal">I'm the Modal Window!</div>
    </main>
{% endblock %}

{% block js %}

{% endblock %} 