{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  TKS | Reserve Tool
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/sf/reservation.css' %}" />
  <link rel="stylesheet" href="{% static 'css/sf/navbar_sf.css' %}" />  
{% endblock %}

{% block main_content %}
    {% include 'sf/navbar_sf.html' %}

    <main class="container-fluid justify-content-center align-items-center">
        <form method="POST" action="{% url 'reservation_sf' %}" class="was-validated" id="reservation-form">
            {% csrf_token %}
            <div class="container-fluid row p-0 m-0">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="card align-items-center">
                            <h3>RESERVATION FORM</h3>
                            <hr>
                            <input type="text" name="fullname" id="fullname" class="form-control" value="{{ request.user.first_name }} {{ request.user.last_name }}" readonly required>
                            <input type="text" name="role" id="role" class="form-control" value="{{ request.user.year_course }}" readonly required>
                            <input type="text" name="tupc-id" id="tupcid" class="form-control" value="{{ request.user.tupc_id }}" readonly required>
                            <div class="form-group mt-4">
                                <h6> Date and Time of Borrow</h6>
                                <div class="date_time">                     
                                    <input type="date" name="borrow-date" id="borrow-date" class="form-control"  placeholder="Date" required>
                                    <input type="time" name="borrow-time" id="borrow-time" class="form-control"  placeholder="Time" required>
                                </div>
                            </div>
                            <div class="form-group mt-2">
                                <h6> Date and Time of Return</h6>
                                <div class="date_time">                        
                                    <input type="date" name="return-date" id="return-date" class="form-control" placeholder="Date" required>
                                    <input type="time" name="return-time" id="return-time" class="form-control"  placeholder="Time" onchange="checkDateTime()" required>
                                </div>
                            </div>
                        </div>
                        <button type="reset" class="btn btn-danger mt-3 p-2"> Cancel Reservation </button>
                    </div>
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="card3 justify-content-center mx-5 mt-4">
                        {% for tool in tools %}
                        <p class="tools">{{ tool }}</p>
                        {% endfor %}
                    </div>
                    <div class="card2 justify-content-center mx-5 mt-4 p-0">
                        <h6>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="bi bi-exclamation-circle-fill"></i>
                            If tools borrowed were damage, broken, or missing, 
                            the borrower shall be held responsible and must report to the tool keeper immediately.
                        </h6>
                        <button type="button" id="submit-btn" class="btn btn-success p-2" disabled>SUBMIT</button>
                        
                    </div>
                </div>
            </div>
            <div class="modal" id="modal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <p>We have sent an email to your registered account containing
                        a <strong style="color: #FF0000">QR CODE</strong> 
                      </p>
                      <p>We will scan the <strong style="color: #FF0000">QR CODE</strong>
                        to get your tools and verify your reservation
                      </p>
                      <p><strong>MAKE SURE TO SAVE THE <span style="color: #FF0000">QR CODE</span></strong>
                      </p>
                      <button type="submit" id="ok-btn" class="btn btn-primary">OK</button>
                    </div>
                  </div>
                </div>
              </div> 
        </form>
    </main>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'js/sf/reservation_sf.js' %}"></script>
{% endblock %} 