@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    margin-left: 200px;
}

.main_wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem 2rem;
    padding: 2rem;
    border: 2px solid #3E3E3E;
    border-radius: 25px;
}

.modal-body input[type="number"] {
    opacity: 0;
    font-size: 20px;
}

.modal-body > img {
    width: 150px;
    height: 150px;
}

.table-img {
    width: 100px;
    padding: 0.25rem;
}

/* ========== TABLE ========== */
table thead tr th {
    text-align: center;
    align-items: center;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 1rem;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 1rem;
}

.view_btns {
    text-align: center;
}

.alert-danger {
    animation: fadeOut 1s forwards;
    animation-delay: 5s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;}
}


/* ====== SCREEN REPONSIVENESS ====== */
@media screen and (max-width: 576px) {
    * {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}