@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    margin-left: 200px;
}

.img-account-profile {
    height: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;  
}

.avatar-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    max-width: 205px;
    margin: 25px auto;
}

#submit_img_btn {
    display: none;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

input[type="file"] {
    display: none;
}

#imageUploadLabel {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all .2s ease-in-out;
}

#imageUploadLabel:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

#imageUploadLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(123, 123, 123);
}

#imageUploadLabel:after {
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-preview {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

.avatar-preview > div {
    width: 100%;
    height: 100%;
}

.avatar-preview > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[readonly] {
    background-color: #d5d5d5;
}

input[readonly]:focus {
    background-color: #d5d5d5;
}

.alert-success {
    animation: fadeOut 1s forwards;
    animation-delay: 5s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;}
}

@media screen and (max-width: 900px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}