@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    margin-left: 200px;
}

.top-container button a, .top-container button a:hover {
    font-weight: bold;
    text-decoration: none;
}

.top-container button {
    margin: 0;
    padding: 0.25em 0.75em;
    border-radius: 5px;
}

.top-container button:first-child {
    background-color: #DEE5FA;
    border: 2px solid #0000FF;  
}

.top-container button:first-child a {
    color: #0000FF;
}

.top-container button:nth-child(2) {
    background-color: #DAFDCD; 
    border: 2px solid #008000;
}

.top-container button:nth-child(2) a {
    color: #008000;
}

.top-container button:last-child {
    background-color: #EDEDC9;
    border: 2px solid #9C9C06;
}

.top-container button:last-child a {
    color: #9C9C06;
}


/* ========== TABLE ========== */
table thead tr th {
    text-align: center;
    align-items: center;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 1rem;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 1rem;
}


/* ====== SCREEN REPONSIVENESS ====== */
@media screen and (max-width: 576px) {
    * {
        font-size: 8px;
    }
    
    .top-container {
        justify-content: center !important;
    }

    .top-container button a {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}