@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    display: flex;
    flex-wrap: nowrap;
}

.borrower-img-wrapper {
    border: 3px solid #000000;
    border-radius: 50%;
    width: max-content;
}

#borrower-img {
    width: 80px;
    border-radius: 50%;
}

.top-wrapper {
    border: 2px solid #000000;
    border-radius: 20px;
}

.transaction-details {
    font-weight: bold;
}

.transaction-details span {
    font-weight: normal;
}

hr {
    border: 2px solid #000000;
}

h5 {
    font-weight: bolder;
    width: max-content;
}

.option-btn {
    width: 125px;
    padding: auto 0.5rem;
}

.table-img {
    width: 100px;
    padding: 0.25rem;
}

.rfid-scanned-indicator {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #005d00;
    margin: auto;
}