{% extends 'base.html' %}

{% load static %}

{% block title %}TKS | Add Tool{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tk/manage_tools/add_tools_tk.css' %}" /> 
{% endblock %}

{% block main_content %}
    {% include 'tk/navbar_tk.html' %}
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div id="storages_modal" class="storages_modal">
                <div class="d-flex justify-content-around storages_modal_content">
                  <div class="storages_btn d-flex flex-row-reverse">
     
                      <button class="storage_btn btn btn-success px-4 py-3 mx-2" data-storage="{{ storage }}">Open<br>Storage {{ storage }}</button>

                  </div>
                  <div class="d-flex justify-content-center mt-3 w-100">
                    <button type="button" id="hide_storages_modal" class="btn btn-secondary w-50">Back</button> 
                  </div>
                </div>
            </div>

        {% endif %}
    {% endfor %}
    {% endif %}
    <main class="px-5 py-5">
 
        <div class="main_wrapper">
            <form method="POST" action="{% url 'add_tools_tk' %}" name="add_tools_form" id="add_tools_form">
                {% csrf_token %}
                <div class="tool_details">
                    <h5>Tool Details</h5>
                    <div class="tool_details_body">
                        {% if messages %}
                        {% for message in messages %}
                            {% if message.extra_tags == 'duplicate_entry_error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% endif %}
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4">
                            <input
                                id="rfid"
                                class="w-100 tool_details"
                                type="text"
                                name="tool_id"
                                placeholder="CLICK SCAN THE RFID TAG"
                                data-bs-toggle="modal"
                                data-bs-target="#rfid_modal"
                                readonly
                                required
                                >
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4">
                            <input class="w-100 tool_details" type="text" name="tool_name" placeholder="TOOL NAME" required>
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4 justify-content-between">
                            <select class="w-50 tool_details" id="storage" name="storage" required>
                                <option value="" disabled selected>SELECT STORAGE</option>
                                <option value="1">Storage 1</option>
                                <option value="2">Storage 2</option>
                                <option value="3">Storage 3</option>
                                <option value="4">Storage 4</option>
                                <option value="5">Storage 5</option>
                                <option value="6">Storage 6</option>
                                <option value="7">Storage 7</option>
                                <option value="8">Storage 8</option>
                            </select>
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4 justify-content-between">
                            <select class="w-50 tool_details" id="layer" name="layer" required>
                                <option value="" disabled selected>SELECT LAYER</option>
                                <option value="1">Layer 1</option>
                                <option value="2">Layer 2</option>
                                <option value="3">Layer 3</option>
                                <option value="4">Layer 4</option>
                                <option value="5">Layer 5</option>
                            </select>
                            <div class="green-circle"></div>
                        </div>
                    </div>
                </div>
                <div class="tool_image">
                    <h5>Tool Image</h5>
                    <div class="tool_image_body">
                        <div id="capture_img_wrapper">
                            <video id="video"></video>               
                            <canvas id="canvas"></canvas>
                            <div class="output">
                                <input type="hidden" name="tool_img" id="tool_img" />
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button type="button" class="btn btn-secondary" id="open_cam_btn" onclick="openCam()">
                                Open Camera
                            </button> 
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="button"
                                    id="startbutton"
                                    class="cam_option_btns btn btn-outline-success"
                                    onclick="takepicture()"
                                    >
                                Capture
                            </button>
                            <button type="button"
                                    id="img_capture_reset"
                                    class="cam_option_btns btn btn-outline-danger"
                                    onclick="removepicture()"
                                    >
                                Remove
                            </button>
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.extra_tags == 'no_image_error' %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ message }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <!-- RFID MODAL -->
                    <div class="modal" id="rfid_modal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="d-flex justify-content-end my-3 me-3">
                                    <button
                                        type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"
                                        >
                                    </button>
                                </div>
                                <div class="modal-body p-3">    
                                    <p class="rfid_modal_description text-center">
                                        SCAN THE RFID TAG ON THE TOOL
                                    </p>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <img id="rfid_img" src="{% static 'res/rfid.png' %}" alt="rfid_img">
                                    </div>
                                    <input type="text" id="rfid_hidden" name="rfid_hidden" value="">
                                    <input type="hidden" id="rfid_hidden_2" name="rfid_hidden_2" value="">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center my-4">
                    <input type="submit" form="add_tools_form" class="options_btns btn btn-primary me-2" value="Register Tool" />
                    <button type="reset" id="tool_form_reset" class="options_btns btn btn-danger ms-2">Clear</button>
                </div>
            </form>
        </div>
    </main>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.26/webcam.min.js"></script>
    <script src="{% static 'js/tk/manage_tools/add_tools_tk.js' %}"></script>
{% endblock %}  