{% extends 'base.html' %}

{% load static %}

{% block title %}TKS | Add Tool{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tk/manage_tools/add_tools_tk.css' %}" /> 
{% endblock %}

{% block main_content %}
    {% include 'tk/navbar_tk.html' %}

    <main class="px-5 py-5">
        <div class="form-wrapper">
            <form action="">
                <div class="row">
                    <div class="col-xl-7 col-lg-7 col-md-6 col-sm-12 col-12">
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4">
                            <input class="w-100" type="text" placeholder="SCAN THE RFID TAG ON THE TOOL">
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4">
                            <input class="w-100" type="text" placeholder="TOOL ID">
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4">
                            <input class="w-100" type="text" placeholder="TOOL NAME">
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4 justify-content-between">
                            <select class="w-50" id="storage" name="storage" required>
                                <option value="" disabled selected>SELECT STORAGE</option>
                                <option value="s1">Storage 1</option>
                                <option value="s2">Storage 2</option>
                                <option value="s3">Storage 3</option>
                              </select>
                            <div class="green-circle"></div>
                        </div>
                        <div class="input-text-wrapper form-group d-flex align-items-center mb-4 justify-content-between">
                            <select class="w-50" id="layer" name="layer" required>
                                <option value="" disabled selected>SELECT LAYER</option>
                                <option value="l1">Layer 1</option>
                                <option value="l2">Layer 2</option>
                                <option value="l3">Layer 3</option>
                              </select>
                            <div class="green-circle"></div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12 col-12">
                        <div class="container flex-row">
                            <div id="capture-img-wrapper">
                                
                            </div>
                            <div class="d-flex justify-content-around mt-3">
                                <button type="button" class="btn btn-outline-success">Capture</button>
                                <button type="button" class="btn btn-outline-danger">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="img-options-btns d-flex justify-content-center align-items-center mt-5">
                <button type="button" class="btn btn-primary me-2">Register Tool</button>
                <button type="reset" class="btn btn-danger ms-2">Clear</button>
            </div>
            </form>
    </main>
{% endblock %}

{% block js %}

{% endblock %}  