{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tk/manage_tools/storages_tk.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />   
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/datatables.min.css"/>
{% endblock %}

{% block main_content %}
    {% include 'tk/navbar_tk.html' %}

    <main class="px-5 py-4">
        <div class="row">
            <div class="left-container col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <p>STORAGES</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      STORAGES
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Storage 1</a></li>
                      <li><a class="dropdown-item" href="#">Storage 2</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    LAYER
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Layer 1</a></li>
                    <li><a class="dropdown-item" href="#">Layer 2</a></li>
                    <li><a class="dropdown-item" href="#">Layer 3</a></li>
                </ul>
                </div>
            </div>
            <div class="right-container col-xl-9 col-lg-9 col-md-9 col-sm-12 col-xs-12">
                <div class="d-flex">
                    <a class="btn btn-primary" href="#" role="button">+ Add Tool</a>
                </div>
                <div class="table-responsive mt-4 p-0">
                    <table id="storages-table" class="table table-bordered table-hover align-middle">
                        <thead class="table-dark justify-content-center">
                            <tr>
                              <th></th>
                              <th>Tool ID</th>
                              <th>Tool Name</th>
                              <th>Image</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody id="tabledata">
                            <tr class="rows">
                                <td>
                                    <a href="">
                                        <button class="btn btn-secondary w-100">View</button>
                                    </a>
                                </td>
                                <td>ABC123</td>
                                <td>Tool 1</td>
                                <td>IMAGE</td>
                                <td>AVAILABLE</td>
                            </tr>
                            <tr class="rows">
                                <td>
                                    <a href="">
                                        <button class="btn btn-secondary w-100">View</button>
                                    </a>
                                </td>
                                <td>DEF456</td>
                                <td>Tool 2</td>
                                <td>IMAGE</td>
                                <td>DAMAGED</td>
                            </tr>
                          </tbody>
                    </table>
                </div>

            </div>
        </div>
        
    </main>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
    <script src="{% static 'js/tk/manage_tools/storages_tk.js' %}"></script>
{% endblock %}