{% extends 'base.html' %}
{% load static %}

{% block title %}
    TKS | Tool Keeper Storages
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/tk/manage_tools/storages_tk.css' %}" />
    <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />   
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/datatables.min.css"/>
{% endblock %}

{% block main_content %}
    {% include 'tk/navbar_tk.html' %}

    <main class="px-5 py-4">
        <div class="main_wrapper">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <a class="btn btn-primary" href="{% url 'add_tools_tk' %}" role="button">+ Add Tool</a>
                        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rfid_modal">
                            Scan RFID
                          </button>  
                          <div class="modal fade" id="rfid_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="rfid_modalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="staticBackdropLabel">Scan RFID</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <form action="{% url 'tools_tk' %}" method="GET">
                                    <input type="hidden" name="tool_id_rfid" />
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div> -->
                        <!-- <form action="" method="GET">
                            <div class="dropdowns d-flex">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                      STORAGES
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a class="dropdown-item" href="#">Storage 1</a></li>
                                      <li><a class="dropdown-item" href="#">Storage 2</a></li>
                                    </ul>
                                </div>
                                <div class="dropdown ps-2">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        LAYER
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Layer 1</a></li>
                                        <li><a class="dropdown-item" href="#">Layer 2</a></li>
                                        <li><a class="dropdown-item" href="#">Layer 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </form> -->
                    </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive mt-4 p-0">
                        <table id="storages-table" class="table table-bordered table-hover table-striped align-middle">
                            <thead class="table-dark justify-content-center">
                                <tr>
                                  <th></th>
                                  <th>Tool ID</th>
                                  <th>Tool Name</th>
                                  <th>Image</th>
                                  <th>Status</th>
                                </tr>
                              </thead>
                              <form action="{% url 'tools_tk' %}"
                                    method="GET"
                                    id="get_tool_form"
                                    name="get_tool_form">
                                    <input type="hidden" id="tool_id" name="tool_id" value="">
                                </form>
                                <tbody id="tabledata">  
   
                                    {% for tool in tools %}
                                    <tr class="rows">
                                        <td class="view_btns">
                                            <button type="button"
                                                    value="{{ tool.pk }}"
                                                    class="get_tool btn btn-secondary w-100"
                                                    >
                                                    View
                                            </button>
                                        </td>
                                        <td>{{ tool.pk }}</td>
                                        <td>{{ tool.tool_name }}</td>
                                        <td class="table-img">
                                            <img class="table-img" src="{{ tool.tool_image.url }}" alt="{{ tool.tool_name }} image">
                                        </td>
                                        <td>{{ tool.status }}</td>
                                    </tr>
                                {% endfor %}
                                
                              </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>     
    </main>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
    <script src="{% static 'js/tk/manage_tools/storages_tk.js' %}"></script>
{% endblock %}