{% extends 'base.html' %}
{% load static %}

{% block title %}
   <title> TKS | Login </title> 
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
{% endblock %}


{% block main_content %}
    <div class="login_form alert">
        <img src="../static/res/tup_logo.png" class="bg-image">
        <form action="">
            <div class="header">
                <p>Technological University of the Philippines - Cavite</p>
                <p>Department of Industrial Technology</p>
                <h3 class="title">TOOL KEEPER SYSTEM</h3>
                <hr>
                <form name="login-form" class="was-validated">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="text" id="username" class="form-control" name="username" />
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" id="password" class="form-control" name="password" />
                    </div>
                    <div class="form-group">
                      <input class="btn btn-success w-100" type="submit" value="Login">
                    </div>   
                    <div class="form-group">
                      <a href=""> Forgot Passowrd? </a>
                    </div> 
                    <hr>
                    <div class="form-group">
                        <input class="btn btn-info w-100" type="submit" value="Register">
                      </div>   
            </div>  
        </form>
    </div>  

{% endblock %}

{% block js %}

{% endblock %} 