{% extends 'base.html' %}
{% load static %}

{% block title %}
    TKS | Login
{% endblock %}

{% block style %}

{% endblock %}

{% block main_content %}
    <div class="login_form">
        <img src="{% static 'res/tup_logo.png' %}" alt="">
        <form action="">
            <div class="header">
                <p>Technological University of the Philippines - Cavite</p>
                <p>Department of Industrial Technology</p>
                <h3 class="title">TOOL KEEPER SYSTEM</h3>
                <hr>
                
            </div>  
        </form>
    </div>

{% endblock %}

{% block js %}

{% endblock %} 