@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    min-height: 100vh;
}

main {
    display: flex;
    flex-wrap: nowrap;
}

.block_tool_reservation {
    position: fixed;
    z-index: 1;
    background-color: rgba(180, 180, 180, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;;
}

.block_message {
    background-color: #FFFFFF;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 2px solid #0000FF;
    border-radius: 20px;
    width: 60vw;
    min-height: max-content;
}

.block_message > h2 {
      text-align: center;
      margin-bottom: 2rem;
}

.block_message > form > input {
    font-size: 25px;
    font-weight: 600;
    padding: 1rem 2rem;
}


.filter_wrapper {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex: column;
    top: 0;
    position: fixed;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100vw;
    height: 60px;
    z-index: 10;
    padding-right: 30vw;
    padding-left: 3rem;
}

.filter_header h3 {
    font-size: 24px;
}

.filter_search {
    width: 225px
}

.filter_search input[type="search"] {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.filter_search .input-group {
    flex-wrap: nowrap;
}

.filter_options {
    display: flex;
}

.filter_options .form-select {
    width: 175px;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
}

.bi-arrow-counterclockwise {
    font-size: 24px;
}

.tools_wrapper {
    width: 75vw;
}

.selected_tools_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 25vw;
    z-index: 11;
    height: 100vh;
    padding: 1rem;
}

form[role="search"] {
    width: max-content;
}

.cards {
    padding: 2rem;
    margin-top: 60px;
}

.cards a {
    text-decoration: none;
    color: rgb(25, 25, 25);
    width: max-content;
}

.card {
    background: #ECFDE5;
    border: 2px solid #207A29;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 175px;
    cursor: pointer;
}

.card img {
    width: 95%;
    height: 150px;
    border-radius: 10px;
}

.card h6 {
    padding-top: 5px;
}

#options {
    display: none;
    margin: 3rem auto;
}

#options button {
    width: 100%;
    margin: 0.25rem auto;
}

.selected-tools-wrapper {
    border-bottom: 2px solid #888888;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-tools {
    height: 30px !important;
    border: none !important;
    background-color: #FFFFFF !important;
    width: 125px;
}

.tool_name {
    margin: 0;
}

.remove-btn {
    cursor: pointer;
}

.bi-x-circle-fill {
    color: #b12323;
}

.modal-content {
    border: 2px solid #517FD7;
    border-radius: 20px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px !important;
}

.modal-body p {
    width: 90%;
    margin: 10px;
}

.modal-body p:nth-child(2) {
    color: #FF0000;
}

#ok-btn {
    width: 40%;
    padding: 8px auto;
    margin-bottom: 10px;

}

 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    * {
        font-size: 12px;
    }

    h5 {
        font-size: 0.95rem;
    }

    .card {
        width: 8em;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .two-btns {
        margin-top: 1rem;
        justify-content: space-between !important;
    }

    form[role="search"] {
        width: 100% !important;
    }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

.modal-content {
    border: 2px solid #517FD7;
    border-radius: 20px;
}

.modal-body {
    text-align: center;
    padding: 20px !important;
}

.modal-body p {
    width: 90%;
    margin: 10px;
}

#ok-btn {
    width: 40%;
    padding: 8px auto;
    margin-bottom: 10px;
}