.navbar {
    height: 60px;
    background-color: #bd2131;
    width: 100vw;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(127,127,127,1);
    flex-wrap: nowrap;
    padding: 5px 10px;
    max-height: 60px;
    height: 60px;
    width: 200px;
    z-index: 1000;

}

.navbar-brand h6 {
    margin: 0 auto;
    font-size: 14px;
}

.navbar-brand .tup-icon {
    width: 50px;   
}

.navbar-brand h6 {
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.nav {
    font-size: 18px;
}

.nav-item a, .nav-item a:hover, .nav-item a:focus{
    color: white;
    text-decoration: none;
}

.dropdown {
    margin-bottom: 0 !important;
}

.dropdown-menu[data-bs-popper] {
    right: 0;
    left: auto;
    width: 250px;
    background-color: #bd2131; 
}

#avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
}

#name {
    color: #fff;
    font-weight: bold;
}

.dropdown-item:hover {
    background-color: #5f131b;
}

 /* Small devices (landscape phones, 576px and up) */
 @media (max-width: 576px) {
    .tupc-label-wrapper {
        display: none;
    }

    .navbar-brand {
        width: 100px;
    }
}
