
.card {
    width: 50%;
    height: max-content;
    margin: 0 auto;
    margin-top: 70px;
    border: 2px solid #797979;
    border-radius: 20px;
}

.user_avatar, .user_info {
    padding: 10px 50px;
}

.container {
    display: flex;
    padding: 5px 15px 0 20px;    
    width: 100%;
    max-width:200px;
    height:auto
}

.user_avatar #avatar {
    width: 125px;
    height: 125px;
}

.user_info input {
    width: 125%;
}

.btn-block {
    width:175px;
    border: 2px solid #3E3E3E;
    margin-top: 10px;
}
