@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}


form {
    margin: 5vh 10vw;
}

/** RESERVATION FORM **/
.cards  {
    text-decoration: none;
    color: white;
    width: min-content;
}

.card {
    background: #571515;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 90%;
}

h3 {
    color: #FFFFFF;
    margin-bottom: 0;
}

hr {
    color: #FFFFFF;
    width: 90%;
    opacity: 1;
}

.card input {
    width: 90%;
    padding: 0.375rem 0.75rem;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #E0E0E0;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
}

.card .form-group {
    width: 90%;
}

.card .date_time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input[type="date"] {
    width: 53%;
}

input[type="time"] {
    width: 42%;
}

.card h6 {
    color: #FFFFFF;
}

/** TERMS AND SUBMIT BTN **/
.card2 h6 {
    font-style: italic;
    font-weight: 400;
    align-items: center;
    padding: 15px;
}

.card2 p {
    padding-left: 20px;
}

.card2 .btn-success {
    align-items: center;
    width: 15em;
    margin-left: 20%;
}

/** TOOLS **/
.card3 h6 {
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    padding: 20px;
}

.bi-exclamation-circle-fill {
    color: #ff0000;
    width: 16px;
    
}

/* 
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal {
    width: 300px;
    height: 200px;
    line-height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    text-align: center;
    z-index: 11;  1px higher than the overlay layer */
