@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

hr {
    opacity: 1;
    height: 3px;
    background-color: #3E3E3E;
    margin: 0.5rem 0;
}

.tools-borrowed-text {
    font-size: 22px;
    font-weight: 600;
    width: max-content;
}

.void-btn {
    border-radius: 10px;
    border: 2px solid #FF0000;
    font-weight: bold;
    color: rgb(255, 0, 0, 1);
    background-color: #efb2b2;
    font-size: 22px;
    padding: 0.25rem 3rem;
    margin-left: 30px;
}


.card {
    height: max-content;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.subtitle {
    text-align: start;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
}

.transaction-info {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin: 1rem auto;
}

.tools-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tool-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ededc9;
    border: 2px solid #9c9c06;
    border-radius: 10px;
    padding: 0.75rem;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    width: 225px;
    height: 225px;
}

.tool-info-wrapper div {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    overflow-wrap: break-word;
    text-decoration: none;
    color: black;
    width: 90%;
}

.tool-info-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#status {
    font-weight: 700;
    font-size: 20px;
}