@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    margin: 1rem 8rem;
}

.main_wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem 2rem;
    padding: 2rem;
    border: 2px solid #3E3E3E;
    border-radius: 40px;
}

/* ========== TABLE BUTTONS ========== */
table thead tr th {
    text-align: center;
}

.view-btns {
    width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    color: #FFFFFF;
    background-color: #3E3E3E;
    border: none;
}

/* ----- TABLE ----- */

#transactions-table thead th {
    color: white;
    background: #73131d;
    border: 1px solid #FFFFFF;
    border-top: 1px solid #73131d;
}

#transactions-table thead th:last-child {
    border-right: 1px solid #73131d;
}

#transactions-table thead th:first-child {
    border-left: 1px solid #73131d;

}

#transactions-table th, tr, td {
    border: 1px solid #73131d;
}