@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.container .tools-borrowed {
    position: relative;
    display: inline-flex;
    top: 40px;
    left: 500px;
}

hr {
    position: relative;
    border: 2px solid rgba(0, 0, 0, 1);
    width: 605px;
    top: 35px;
    left: 500px;
}

.container .tools-borrowed .tool-status{
    padding-top: 15px;
    font-weight: bolder;
}


.btn-block {
    height: calc(1.75em + 1.15rem + 1.25px);
    border-radius: 10px;
    border: 2px solid #FF0000;
    font-weight: bold;
    color: rgb(255, 0, 0, 1);
    background: #efb2b2;
    font-size: 22px;
    width: 225px;
    margin-left: 30px;
}


.card {
    position: relative;
    width: 320px;
    height: 500px;
    left: 145px;
    top: -40px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 20px;
}

.card .subtitle {
    display: flex;
    justify-content: left;
    text-decoration: underline;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    padding-top: 30px;
    padding-left: 20px;
}

.card .user-info {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    padding-top: 15px;
}

.card .user-details #status {
    font-weight: 800;
    font-size: 22px;
    color: #9c9c06;
}


.card2  h5 {
    text-decoration: none;
    color: black;
    width: max-content;
}

.card2 {
    position: absolute;
    background: #ededc9;
    border: 2px solid #9c9c06;
    border-radius: 10px;
    margin: 20px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    width: 11em;
    top: 180px;
    left: 650px;
}

.card2 img {
    width: 95%;
    border-radius: 10px;
}
