{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
  TKS | {{ request.user.last_name }} Change Password
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/tk/change_password_tk.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />  
{% endblock %}

{% block main_content %}
    {% include 'tk/navbar_tk.html' %}

    <main>
        <div class="row justify-content-center m-0 p-5">
            <!-- Account details card-->
            <div class="card mb-4 px-0">
                <div class="card-header">Change Password</div>
                <div class="card-body mx-5">
                    <form action="{% url 'change_password_tk' %}" method="POST">
                        {% csrf_token %}
                        <!-- Form Group (username)-->
                        <div class="mb-3">
                            {{ form.old_password|as_crispy_field }}
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        <!-- Form Group (email)-->
                        <div class="mb-3">
                            {{ form.new_password1|as_crispy_field }}
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        <!-- Form Group (email)-->
                        <div class="mb-3">
                            {{ form.new_password2|as_crispy_field }}
                            {% for error in form.new_password1.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                        <!-- Save changes button-->
                        <button class="btn btn-primary" type="submit">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block js %}

{% endblock %} 