{% load static %}

<nav class="p-0 m-0">
    <a class="navbar-brand d-flex justify-content-center align-items-center" href="">
        <div class="tup-icon-wrapper">
            <img class="tup-icon" src="{% static 'res/tup_logo.png' %}" alt="TOOL KEEPER TUP-C">
        </div>
        <div class="tupc-label-wrapper">
            <h6>TOOL KEEPER</label>
            <h6>TUP-C</h6>
        </div>
    </a>
    <div class="nav flex-column mx-1 my-3 px-2 py-1 justify-content-center align-items-center">
        <div class="user-img-wrapper">
            <img id="user-img" src="{% static 'res/test.png' %}" alt="">
        </div>
        <p id="user-fname" class="d-inline mt-1 mb-3">User</p>
    </div>
    <ul class="nav flex-column px-2 py-1">
        <li class="nav-item d-inline">
            <a class="nav-link" href="#">
                <i class="bi bi-journal-text"></i><span>&nbsp&nbspTransactions</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-qr-code-scan" viewBox="0 0 16 16">
                    <path d="M0 .5A.5.5 0 0 1 .5 0h3a.5.5 0 0 1 0 1H1v2.5a.5.5 0 0 1-1 0v-3Zm12 0a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0V1h-2.5a.5.5 0 0 1-.5-.5ZM.5 12a.5.5 0 0 1 .5.5V15h2.5a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5Zm15 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H15v-2.5a.5.5 0 0 1 .5-.5ZM4 4h1v1H4V4Z"/>
                    <path d="M7 2H2v5h5V2ZM3 3h3v3H3V3Zm2 8H4v1h1v-1Z"/>
                    <path d="M7 9H2v5h5V9Zm-4 1h3v3H3v-3Zm8-6h1v1h-1V4Z"/>
                    <path d="M9 2h5v5H9V2Zm1 1v3h3V3h-3ZM8 8v2h1v1H8v1h2v-2h1v2h1v-1h2v-1h-3V8H8Zm2 2H9V9h1v1Zm4 2h-1v1h-2v1h3v-2Zm-4 2v-1H8v1h2Z"/>
                    <path d="M12 9h2V8h-2v1Z"/>
                </svg><span>&nbsp&nbspScan Code</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="bi bi-gear-fill"></i><span>&nbsp&nbspTools</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-person-fill"></i><span>&nbsp&nbspProfile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link">
                <i class="bi bi-box-arrow-right"></i><span>&nbsp&nbspLogout</span> 
            </a>
        </li>
    </ul>
</nav>