{% extends 'base.html' %}
{% load static %}
{% load tz %}

{% block title %}
  TKS | View Transaction
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/tk/transaction_details_tk.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />
  {% block style_depends_on_status %} {% endblock %}
{% endblock %}

{% block main_content %}
  {% if messages %}
    {% for message in messages %}
      {% if message.extra_tags == 'scan_rfid_borrow' %}
      <div id="message_modal" class="message_modal">
        <div class="message_modal_content">
          <h5>{{ message }}</h5>
          <img src="{% static 'res/rfid.png' %}" alt="">
          <button type="button" id="message_modal_btn" class="btn btn-primary px-5 py-2">OK</button>
        </div>         
      </div>
      <div id="storages_modal" class="storages_modal">
        <div class="d-flex justify-content-around storages_modal_content">
          <div class="storages_btn d-flex flex-row-reverse">
            {% for storage in storages %}
              <button class="storage_btn btn btn-secondary px-4 py-3 mx-2" data-storage="{{ storage }}">Open<br>Storage {{ storage }}</button>
            {% endfor %}
          </div>
          <div class="d-flex justify-content-center mt-3 w-100">
            <button type="button" id="show_rfid_modal" class="btn btn-primary w-25 me-4">OK</button> 
            <button type="button" id="hide_storages_modal" class="btn btn-danger w-25">CLOSE</button> 
          </div>
          
          <div class="table-responsive p-3 w-100">
            <hr>
            <h3 class="text-center">GET THE TOOLS</h3>
            <table id="borrowed-table" class="table table-bordered table-hover table-striped align-middle">
              <thead class="table-dark justify-content-center">
                  <tr class="text-center">
                    <th>Tool ID</th>
                    <th>Tool Name</th>
                    <th>Tool Image</th>
                    <th>Storage</th>
                    <th>Layer</th>
                  </tr>
              </thead>
              <tbody id="tabledata">
                {% for tools in tools_borrowed %}
                  <tr>
                    <td>{{ tools.pk }}</td>
                    <td>{{ tools.tool_name }}</td>
                    <td class="table-img">
                      <img src="{{ tools.tool_image.url }}" alt="" class="table-img">
                    </td>
                    <td>{{ tools.storage }}</td>
                    <td>{{ tools.layer }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div> 
        </div>
      </div>
        <div id="scan_rfid_tools" class="scan_rfid_tools">
          <form id="borrow_form" action="{% url 'transaction_details_tk' transaction.pk %}" method="POST">
            {% csrf_token %}
            <input type="number" id="rfid_tag">
            <input type="hidden" name="rfid_scanned" value="DONE">
            
              <div class="table-responsive p-3 w-100 pb-4">
                <table id="borrowed-table" class="table table-bordered table-hover table-striped align-middle">
                  <thead class="table-dark justify-content-center">
                      <tr class="text-center">
                        <th>Tool ID</th>
                        <th>Tool Name</th>
                        <th>Tool Image</th>
                        <th>Storage</th>
                        <th>Layer</th>
                        <th>RFID</th>
                      </tr>
                  </thead>
                  <tbody id="tabledata">
                    {% for tools in tools_borrowed %}
                      <tr class="tools_to_scan text-center" data-tool-id="{{ tools.pk }}" data-scanned="">
                        <td>{{ tools.pk }}</td>
                        <td>{{ tools.tool_name }}</td>
                        <td class="table-img">
                          <img src="{{ tools.tool_image.url }}" alt="" class="table-img">
                        </td>
                        <td>{{ tools.storage }}</td>
                        <td>{{ tools.layer }}</td>
                        <td>
                          <div class="green-circle"></div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>     
          </form>
        </div>

        {% elif message.extra_tags == 'scan_rfid_return' %}
          <div id="message_modal_return" class="message_modal">
            <div class="message_modal_content">
              <h5 style="width: auto">{{ message }}</h5>
              <img src="{% static 'res/rfid.png' %}" alt="">
              <button type="button" id="message_modal_btn_return" class="btn btn-primary px-5 py-2">OK</button>
            </div>         
          </div>
          <div id="scan_rfid_tools_return" class="scan_rfid_tools_return">
            <input type="number" id="rfid_tag_return">
            <form id="return_form" action="{% url 'transaction_details_tk' transaction.pk %}" method="POST">
              {% csrf_token %}
              <h3 class="text-center mb-0">SCAN THE RFID TAG ON THE TOOLS</h3>
              <input type="hidden" name="rfid_scanned_return" value="DONE RETURN">
                <div class="table-responsive p-3 w-100">
                  <table id="return-table" class="table table-bordered table-hover table-striped align-middle">
                    <thead class="table-dark justify-content-center">
                        <tr class="text-center" id="row{{ tools.pk }}">
                          <th>Tool ID</th>
                          <th>Tool Name</th>
                          <th>Tool Image</th>
                          <th>Storage</th>
                          <th>Layer</th>
                          <th>RFID</th>
                          <th>Add Remarks</th>
                        </tr>
                    </thead>
                    <tbody id="tabledata">
                      {% for tools in tools_borrowed %}
                        <tr class="tools_to_scan text-center" id="row{{ tools.pk }}" data-tool-id="{{ tools.pk }}" data-scanned="">
                          <td>{{ tools.pk }}</td>
                          <td>{{ tools.tool_name }}</td>
                          <td class="table-img">
                            <img src="{{ tools.tool_image.url }}" alt="" class="table-img">
                          </td>
                          <td>{{ tools.storage }}</td>
                          <td>{{ tools.layer }}</td>
                          <td>
                            <div class="green-circle"></div>
                          </td>
                          <td>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" id="flexCheckDefault1" name="add_remarks{{ tools.pk }}" value="r1">
                              <label class="form-check-label" for="flexCheckDefault1">
                                DAMAGED TOOL
                              </label>
                            </div>
                            <div class="form-check">
                              <input class="form-check-input" type="radio" id="flexCheckDefault2" name="add_remarks{{ tools.pk }}" value="r2">
                              <label class="form-check-label" for="flexCheckDefault2">
                                MISSING TOOL
                              </label>
                            </div>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <input type="submit" name="verify_return" class="btn btn-primary" value="Verify Return">   
            </form>
            
          </div>
          {% elif message.extra_tags == "return_success" %}
          <div id="storages_modal" class="storages_modal">
            <div class="d-flex justify-content-around storages_modal_content">
              <div class="storages_btn d-flex flex-row-reverse">
                {% for storage in storages %}
                  <button class="storage_btn btn btn-secondary px-4 py-3 mx-2" data-storage="{{ storage }}">Open<br>Storage {{ storage }}</button>
                {% endfor %}
              </div>
              <div class="d-flex justify-content-center mt-3 w-100">
                <button type="button" id="show_rfid_modal" class="btn btn-primary w-75 me-4">OK</button> 
                <button type="button" id="hide_storages_modal" class="btn btn-danger w-75">CLOSE</button> 
              </div>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% include 'tk/navbar_tk.html' %}
    
  <main class="px-5 py-4">
    <div class="main_wrapper">
      <div class="justify-content-center row row-cols-2 row-cols-lg-5 g-2 g-lg-3 m-0 p-0">
        <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 p-2">
          <div class="top-wrapper p-3">
            <h5>Borrower's Information</h5>
            <div class="borrower-info-wrapper d-flex justify-content-center align-items-center m-0">
              <div>
                  <div class="borrower-img-wrapper">
                    {% if borrower.user_img == None or borrower.user_img == '' %}
                      <img id="borrower-img" src="{% static 'res/free-avatar.png' %}" alt="">
                    {% elif borrower.user_img != None or borrower.user_img != '' %}
                      <img id="borrower-img" src="{{ borrower.user_img.url }}" alt="">
                    {% endif %}
                  </div>
              </div>
              <div class="borrower-wrapper ms-2">
                  <p>{{ borrower.first_name }} {{ borrower.last_name }}</p>
                  {% if borrower.role == 'STUDENT' %}
                    <p>{{ borrower.year_course }}</p>
                  {% elif borrower.role == 'FACULTY' %}
                    <p>{{ borrower.role }}</p>
                  {% endif %}
                  <p>{{ borrower.tupc_id }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 p-2">
          <div class="top-wrapper p-3">
            <div class="transaction-details-wrapper m-0">
              <div class="flex-row">
                  <p class="transaction-details m-2">DateTime of Borrow:<span class="ms-2" id="borrow-datetime">{% timezone "Asia/Manila" %} {{ transaction.borrow_datetime }} {% endtimezone %}</span></p>
                  <p class="transaction-details m-2">DateTime of Return:<span class="ms-2" id="return-datetime">{% timezone "Asia/Manila" %} {{ transaction.return_datetime }} {% endtimezone %}</span></p>
                  <p class="transaction-details m-2">Status:<span class="ms-2" id="status" data-to-void="{{ to_void }}">{{ transaction.status }}</span></p>
              </div>
            </div>
          </div>   
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-start align-items-center">
        <h5 class="my-0 me-4">TOOLS BORROWED</h5>      
        <form action="{% url 'transaction_details_tk' transaction.pk %}" method="POST">
          {% csrf_token %}
          {% if transaction.status == 'RESERVED' %}
            <input type="submit" name="option_btn" class="btn btn-success option-btn me-2" value="BORROW" />
            <button type="button"
                  name="option_btn"
                  class="btn btn-danger option-btn"
                  value=""
                  data-bs-toggle="modal"
                  data-bs-target="#voidBackdrop"
                >
                  VOID
                </button>
    <div class="modal fade" id="voidBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="voidBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="voidBackdropLabel">Void Transaction</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Are you sure you want to void this transaction?
          </div>
          <div class="modal-footer">
            <input type="submit" name="option_btn" class="btn btn-danger option-btn" value="VOID" />
            <button type="button" class="btn btn-secondary option-btn" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
          {% elif transaction.status == 'BORROWED' %}
            <input type="submit" name="option_btn" class="btn btn-info option-btn" value="RETURN" />     
          {% endif %}
        </form>
      </div>
      <div class="table-responsive mt-4 p-0">
        <table id="borrowed-table" class="table table-bordered table-hover table-striped align-middle">
          <thead class="table-dark justify-content-center">
              <tr class="text-center">
                <th>Tool ID</th>
                <th>Tool Name</th>
                <th>Tool Image</th>
                <th>Storage</th>
                <th>Layer</th>
              </tr>
          </thead>
          <tbody id="tabledata">
            {% if transaction.status == 'VOIDED' or transaction.status == 'RETURNED' or transaction.status == 'RETURNED WITH DAMAGE' or transaction.status == 'MISSING' %}
              {% for tools in dumps %}
              <h1></h1>
                <tr class="text-center">
                  <td>{{ tools.tool_borrowed.pk }}</td>
                  <td>{{ tools.tool_borrowed.tool_name }}</td>
                  <td class="table-img">
                    <img src="{{ tools.tool_borrowed.tool_image.url }}" alt="" class="table-img">
                  </td>
                  <td>{{ tools.tool_borrowed.storage }}</td>
                  <td>{{ tools.tool_borrowed.layer }}</td>
                </tr>
              {% endfor %}
              {% elif transaction.status != 'VOIDED' or transaction.status != 'RETURNED' %}
                {% for tools in tools_borrowed %}
                <tr class="text-center">
                  <td>{{ tools.pk }}</td>
                  <td>{{ tools.tool_name }}</td>
                  <td class="table-img">
                    <img src="{{ tools.tool_image.url }}" alt="" class="table-img">
                  </td>
                  <td>{{ tools.storage }}</td>
                  <td>{{ tools.layer }}</td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}

{% block js %}
  <script src="{% static 'js/tk/transaction_details_tk.js' %}"></script>   
{% endblock %}