{% extends 'base.html' %}
{% load static %}

{% block title %}
  TKS | View Transaction
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/tk/transaction_details_tk.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tk/navbar_tk.css' %}" />
  {% block style_depends_on_status %} {% endblock %}
{% endblock %}

{% block main_content %}
  {% include 'tk/navbar_tk.html' %}
    
  <main class="px-5 py-4">
    <div class="main_wrapper">
      <div class="justify-content-center row row-cols-2 row-cols-lg-5 g-2 g-lg-3 m-0 p-0">
        <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 p-2">
          <div class="top-wrapper p-3">
            <h5>Borrower's Information</h5>
            <div class="borrower-info-wrapper d-flex justify-content-center align-items-center m-0">
              <div>
                  <div class="borrower-img-wrapper">
                    {% if borrower.user_img == None or borrower.user_img == '' %}
                      <img id="borrower-img" src="{% static 'res/free-avatar.png' %}" alt="">
                    {% elif borrower.user_img != None or borrower.user_img != '' %}
                      <img id="borrower-img" src="{{ borrower.user_img.url }}" alt="">
                    {% endif %}
                  </div>
              </div>
              <div class="borrower-wrapper ms-2">
                  <p>{{ borrower.first_name }} {{ borrower.last_name }}</p>
                  {% if borrower.role == 'STUDENT' %}
                    <p>{{ borrower.year_course }}</p>
                  {% elif borrower.role == 'FACULTY' %}
                    <p>{{ borrower.role }}</p>
                  {% endif %}
                  <p>{{ borrower.tupc_id }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-6 col-lg-6 col-md-12 col-sm-12 p-2">
          <div class="top-wrapper p-3">
            <div class="transaction-details-wrapper m-0">
              <div class="flex-row">
                  <p class="transaction-details m-2">DateTime of Borrow:<span class="ms-2" id="borrow-datetime">{{ transaction.borrow_datetime }}</span></p>
                  <p class="transaction-details m-2">DateTime of Return:<span class="ms-2" id="return-datetime">{{ transaction.return_datetime }}</span></p>
                  <p class="transaction-details m-2">Status:<span class="ms-2" id="status" data-to-void="{{ to_void }}">{{ transaction.status }}</span></p>
              </div>
            </div>
          </div>   
        </div>
      </div>
      <hr>
      <div class="d-flex justify-content-start align-items-center">
        <h5 class="my-0 me-4">TOOLS BORROWED</h5>
        {% if transaction.status == 'RESERVED' %}
        <form action="{% url 'transaction_details_tk' transaction.pk %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="transaction_id" value="{{ transaction.pk }}">
          <input type="submit" name="option_btn" class="btn btn-success option-btn me-2" value="BORROW" />
          <input type="submit" name="option_btn" class="btn btn-danger option-btn" value="VOID" />

        </form>

        {% endif %}
      </div>
      <div class="table-responsive mt-4 p-0">
        <table id="borrowed-table" class="table table-bordered table-hover table-striped align-middle">
          <thead class="table-dark justify-content-center">
              <tr class="text-center">
                <th>Tool ID</th>
                <th>Tool Name</th>
                <th>Tool Image</th>
                <th>Storage</th>
                <th>Layer</th>
                {% block additional_col %}
                {% endblock %}
              </tr>
          </thead>
          <tbody id="tabledata">
            {% for tools in tools_borrowed %}
              <tr class="text-center">
                <td>{{ tools.pk }}</td>
                <td>{{ tools.tool_name }}</td>
                <td class="table-img">
                  <img src="{{ tools.tool_image.url }}" alt="" class="table-img">
                </td>
                <td>{{ tools.storage }}</td>
                <td>{{ tools.layer }}</td>
                {% block additional_data %}
                {% endblock %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </main>
{% endblock %}

{% block js %}
  <script src="{% static 'js/tk/transaction_details_tk.js' %}"></script>   
{% endblock %}