@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    margin-left: 200px;
}

.main_wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem 2rem;
    padding: 2rem;
    border: 2px solid #3E3E3E;
    border-radius: 40px;
} 

.table-img {
    width: 100px;
    padding: 0.25rem;
}

#get_tool_form {
    display: none;
}


/* ========== TABLE ========== */
table thead tr th {
    text-align: center;
    align-items: center;
}

.dataTables_length, .dataTables_filter {
    margin-bottom: 1rem;
}

.dataTables_info, .dataTables_paginate {
    margin-top: 1rem;
}

.view_btns {
    text-align: center;
}


/* ====== SCREEN REPONSIVENESS ====== */
@media screen and (max-width: 576px) {
    * {
        font-size: 10px;
    }
    
    .top-container {
        justify-content: center !important;
    }

    .top-container button a {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}