@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

main {
    margin-left: 200px;
}

.main_wrapper {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 1rem 2rem;
    padding: 2rem;
    border: 2px solid #3E3E3E;
    border-radius: 40px;
} 

.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}

.card .card-header {
    font-weight: 500;
}

.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}

.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgb(33, 40, 50, 0.05);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}

.tool-image-profile {
    height: 10rem;
    width: 10rem;
}

.rounded-circle {
    border-radius: 50% !important;  
}

input[readonly] {
    background-color: #d5d5d5;
}

input[readonly]:focus {
    background-color: #d5d5d5;
}

input.btn {
    width: 15%;
}

input#save, input#cancel {
    display: none;
}

/* ====== SCREEN REPONSIVENESS ====== */
@media screen and (max-width: 576px) {
    * {
        font-size: 10px;
    }
    
    .top-container {
        justify-content: center !important;
    }

    .top-container button a {
        font-size: 10px;
    }
}

@media screen and (max-width: 900px) {
    main {
        margin: 0.5em;
        padding: 0.5em;
    }
}