@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
:root {
    --color-1st: #f5f5f5;
    --color-2nd: #bd2131;
    --color-3rd: #3e3e3e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    min-height: 100vh;
    background-color: var(--color-1st);
}

.navbar {
    height: 60px;
    background-color: #bd2131;
    padding: 0;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(127,127,127,1);
    flex-wrap: nowrap;
    padding: 5px 10px;
    max-height: 60px;
    height: 60px;
}

.navbar-brand h6 {
    margin: 0 auto;
    font-size: 14px;
}

.navbar-brand .tup-icon {
    width: 50px;
    margin-right: 10px;
}

.navbar-brand h6 {
    text-align: center;
    font-weight: bold;
    color: white;
}

.navbar-nav {
    font-size: 20px;
}

.nav-item a, .nav-item a:hover{
    color: white;
    text-decoration: none;
}

.dropdown {
    margin-bottom: 0 !important;
}

.dropdown-menu {
    right: 0;
    left: auto;
}

.dropdown-wrapper {
    float: right;
}

.nav-user, .nav-logout {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.nav-user img, .nav-logout img {
    width: 35px;
}

main {
    position: relative;
    margin: 20px 350px 2em 5em;
}

.header {
    position: absolute;
    top: 0;
    z-index: 1;
}

.dropdown .btn-block {
    max-width: 150px;
    background: #f1fdec;
    border: 2px solid #207A29;
}

.card {
    background: #ECFDE5;
    border: 2px solid #207A29;
    border-radius: 20px;
    margin: 10px 20px;
    padding: 10px 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card img {
    width: 150px;
    border-radius: 20px;
}

.card a {
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.right-section {
    margin: 0;
    padding: 0;
    width: 350px;
    position: fixed;
    right: 0;
    height: 100%;
    overflow: auto;
    border-left: 3px solid #bd2131;
}

