@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.login_form {
    font-family: 'Inter';
    width: 450px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    border-color: #BD2131;
    background: whitesmoke;
    z-index: 0;
    border: 3px solid #BD2131;
    position: relative;
}

.bg-image {
    opacity: 0.3;
    width: 215px;
    height: 215px;
    position: absolute;
    z-index: -1;
    margin: 120px 95px;
}

.login_form p {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 2px;
}

.login_form hr {
    position: relative;
    border: none;
    height: 3px;
    background: #BD2131;
    margin-bottom: 25px;
}

.login_form h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #BD2131;
    margin-top: 25px;   
}

.login_form form {
    font-size: 16px;
}

.login_form form .form-group {
    margin-bottom: 12px;
}

.form-control, input {
    height: calc(1.75em + 1.15rem + 1.25px);
    border-radius: 10px;
    border: 2px solid #BD2131;
    background-color: transparent;
}

.btn-block {
    color: black;
    border: 2px solid #BD2131;
    border-radius: 10px;
    background: rgba(189, 33, 49, 0.3);
    font-size: 20px;
    font-weight: bolder;
}

.btn-block:hover {
    color: black;
    border: 2px solid #BD2131;
    border-radius: 10px;
    background: rgba(237, 4, 27, 0.5);
    font-size: 20px;
    font-weight: bolder;
}

.btn-success {
    border: 3px solid #17750F;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}

.alert-danger {
    color: red;
    font-size: 12px;
    background-color: rgba(180, 103, 111, 0.3);
}

.alert {
    padding: 0.5rem 1rem;
}
