@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Inter';
    font-size: 16px;
}

body {
    height: 100vh;
    background: gray;
}

.reg-form {  
    margin: 20px auto;
    padding: 10px 20px;
    width: 450px;
    height: min-content;
    border-radius: 12px;
    border-color: #BD2131;
    background: whitesmoke;
    z-index: 0;
    border: 3px solid #BD2131;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg-image {
    opacity: 0.2;
    width: 230px;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reg-form p {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-bottom: 2px;
}

.reg-form hr {
    position: relative;
    border: none;
    height: 3px;
    background: #BD2131;
    margin-bottom: 25px;
}

.reg-form h3 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    color: #BD2131;
    margin-top: 25px;   
}

.form-control {
    font-weight: 500;
    border-radius: 12px;
    background-color: transparent;
}

.btn-block {
    color: rgb(20, 20, 20);
    border: 2px solid #BD2131;
    border-radius: 12px;
    background: rgba(189, 33, 49, 0.3);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.btn-block:hover {
    color: whitesmoke;
    background: rgba(189, 33, 49, 0.6);
    font-weight: bolder;
}

b, strong {
    font-size: 12px !important;
    font-weight: bold !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.alert-success {
    position: fixed;
    padding: 0.75rem 1rem;
    font-size: 12px;
    animation: fadeOut 1s forwards;
    animation-delay: 5s;
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}