@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.login_form {
    font-family: 'Inter';
    width: 450px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    border-color: #BD2131;
    background: whitesmoke;
    z-index: 0;
}

.bg-image {
    opacity: 0.5;
    
    position: absolute;
    z-index: -1;
    margin: 80px 115px;
}

.login_form hr {
    position: relative;
    border: none;
    height: 3px;
    background: #BD2131;
    margin-bottom: 25px;
}

.login_form h3 {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #BD2131;
    margin-top: 25px;   
}

.login_form form {
    font-size: 16px;
}

.login_form form .form-group {
    margin-bottom: 12px;
}

.btn-success {
    font-size: 20px;
    margin-top: 12px;
}

.btn-block {
    color: white;
    border: 3px solid #BD2131;
    border-radius: 12px;
    background: rgba(189, 33, 49, 0.6);
    font-size: 20px;
    margin-left: 50px;
}
