@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    font-family: 'Inter';
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: gray;
}

.wrapper {
    width: 450px;
    padding: 20px;
    border-radius: 12px;
    border-color: #BD2131;
    background-color: whitesmoke;
    position: relative;
    z-index: 0;
}

.role-btn {
    height: calc(1.75em + 1.15rem + 1.25px);
    border-radius: 10px;
    border: 2px solid #BD2131;
    background: rgba(237, 4, 27, 0.2);
    font-size: 20px;
    margin: 10px auto;
    color: rgb(40, 40, 40);
    font-weight: bold;
}

.role-btn:hover {
    color: black;
    border: 2px solid #BD2131;
    border-radius: 10px;
    background: rgba(237, 4, 27, 0.5);
    font-weight: bolder;   
}

.bg-image {
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    margin: 80px 115px;
}

.wrapper hr {
    position: relative;
    border: none;
    height: 3px;
    background: #BD2131;
    margin-bottom: 20px;
}

.wrapper h3 {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: #BD2131; 
}

.btn-success {
    font-size: 20px;
    margin-top: 12px;
}

.btn-block {
    color: white;
    border: 3px solid #BD2131;
    border-radius: 12px;
    background: rgba(189, 33, 49, 0.6);
    font-size: 20px;
    margin-left: 50px;
}